@media only screen and (max-width: 934px){
    html{
     font-size: 12px;
    }
    .container h1{
        font-size: 2rem;
        font-family: 'Orbitron';
    }
    body{
        background-image: url("wallpaperflare.com_wallpaper (3).jpg");
        background-size:90%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 20%;
    }
    #search input,button{
        font-size: .7rem;
        font-family: 'Orbitron';
        background-color:rgb(235, 229, 222);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border: 0px;
        margin:4px;
        padding:6px;
    }
    .walle{
        width:40vw;
        margin:40px 15px 30px 0px;
        border-radius: 8px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        transition: all .6s;
    }
     #q{ text-align: center;
        position: absolute;
        background-color: rgba(255, 255, 255,.8);
         bottom:20vh;
         width:40%;
         padding:0px 4px;
        border-radius: 2px;
         font-size: 1rem;
         margin-right: 10px;
         transform:rotate(0deg);
     }
     #w{position: absolute;
        padding:0px 4px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255,.8);
        bottom:15vh;
        right: 30px;
        width:40%;
         margin-right: 10px;
         margin-top: 0px;
         font-size: .7rem;
         transform: rotate(0deg);
     }
     #Header img{
        margin:5px;
        display:inline-block;
        width: 50px;
        height:40px;
    }
    .container{
        display: none;
        font-family: 'Orbitron';
       
    }
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (min-width: 934px){
    #search input,button{
        font-size: 1rem;
        font-family: 'Orbitron';
        background-color:rgb(235, 229, 222);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border: 0px;
        margin:5px;
        padding:10px;
    }
    #q{ text-align: center;
        margin-right: 4%;
        border-radius: 2px;
        background-color: rgba(255, 255, 255,.7);
    }
    .walle{
        width:40vw;
        margin:50px 60px 30px 0px;
        border-radius: 8px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        transition: all .6s;
    }
    #w{
        margin-left: 12%;
        margin-top: 2%;
        border-radius: 2px;
        background-color: rgba(255, 255, 255,.7);
        font-size: .8rem;
        padding: 0px 0px 5px 10px;
    }
    #Header img{
        margin:5px;
        display:inline-block;
        width: 80px;
        height:70px;
    }
    .container{
        display: none;
        font-family: 'Orbitron';
        width:40%;
    
    }
    .container h1{
        font-size: 3rem;
        font-family: 'Orbitron';
    }
    body{
        background-image: url("wallpaperflare.com_wallpaper (3).jpg");
        background-size:85%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 50%;
    }
}
#search {
    background-color: white;
    display: none;
    justify-content: center;
    top: 45vh;
}
.wallpaper{
    background-color: white;
    display: none;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}
#Header{
    display:flex;
    position:sticky;
    top:0;
    background-color: white;
    z-index: 1;
}
#Navi{
    width: 100%;
    display: flex;
    margin:0px 80px 0px 0px;
    justify-content: center;
    list-style: none;
    align-content: center;
    flex-wrap: wrap;}
.lis{
    padding:10px;
    margin:0px 25px;
}
.lis a:hover{
    font-size: 1.6rem;
    color: rgb(143, 139, 139);
}
.lis a{
    color: black ;
    cursor: pointer;
    font-size: larger;
    font-family: 'Orbitron';
    font-weight: bolder;
    text-decoration: none;
    transition: all 1s;
}
#show{
    cursor: pointer;
    position:fixed;
    background-color: white;
    font-size: .7rem;
    border-width: 0px;
    right:0;
    bottom:15vh;
    padding: 5px;
    font-family: 'Orbitron';
    font-style: oblique;
    border-radius: 10px;
    transition: all .6s;
}
button:hover{
        background-color: black;
        color:white;
        cursor: pointer;
    }
#show:hover{
    background-color: black;
    color:white;
}
.car img{
    display: block;
    width:150px;
    margin: auto;
    padding:8px 0px;
}
.Carcontainer{
    font-family: 'Orbitron';
    position:relative;
    width:80%;
    margin:auto;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.walle:hover{
    opacity:.5;
    height: auto;
    width: 41vw;
}
.car{
    margin: 15px 20px;
    display: inline-block;

    background-color:rgb(243, 241, 238);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding:15px;}

@keyframes fadein{
    from{opacity:0;}
    to{opacity: 1;}
}
@keyframes fadeout{
    from{opacity:1;}
    to{opacity: 0;}
}
@keyframes up{
    from {top: 100vh;}
    to {top: 0px;}
}
@keyframes down{
    from {top: 0;}
    to {top: 100vh;}
}